.brand-list-big {
  margin-left: -10px;
  margin-right: -10px;

  .splide__arrow:disabled {
    opacity: 0;
    z-index: -100;
  }

  .splide__track {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .splide__slide {
    margin-top: 4px;
    margin-bottom: 4px;

    &:last-child {
      margin-right: 0 !important;
    }
  }

  &__item {
    box-shadow: -2px -2px 4px 0px rgba(10, 50, 49, 0.15),
      4px 4px 6px 0px rgba(10, 50, 49, 0.25);
    /* Белый */
    background: var(--white-color);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 256px;
  }

  &__wrapper {
    border: 1px solid var(--turquoise-color);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
    max-width: 100%;
  }

  &__item-icon {
    margin-top: auto;
    margin-bottom: auto;
    max-width: 100%;
    object-fit: contain;
  }

  &__item-line {
    border: 1px solid var(--black-color);
    width: 250px;
    max-width: 100%;
    margin-bottom: 20px;
    margin-top: auto;
  }

  &__item-text {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
  }
}

.brand-list-small {
  margin-left: -10px;
  margin-right: -10px;

  .splide__arrow:disabled {
    opacity: 0;
    z-index: -100;
  }

  .splide__track {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .splide__slide {
    margin-top: 4px;
    margin-bottom: 4px;

    &:last-child {
      margin-right: 0 !important;
    }
  }

  .splide__slide__row {
    justify-content: center;
  }

  &__item {
    box-shadow: -2px -2px 4px 0px rgba(10, 50, 49, 0.15),
      4px 4px 6px 0px rgba(10, 50, 49, 0.25);
    /* Белый */
    background: var(--white-color);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 76px;
  }

  &__wrapper {
    border: 1px solid var(--turquoise-color);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
    max-width: 100%;
  }

  &__item-text {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
  }

  &__title {
    text-align: center;
  }
}

.brand-list-middle {
  margin-left: -10px;
  margin-right: -10px;

  .splide__arrow:disabled {
    opacity: 0;
    z-index: -100;
  }

  .splide__track {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .splide__slide {
    margin-top: 4px;
    margin-bottom: 4px;

    &:last-child {
      margin-right: 0 !important;
    }
  }

  .splide__slide__row {
    justify-content: center;
  }

  &__item {
    box-shadow: -2px -2px 4px 0px rgba(10, 50, 49, 0.15),
      4px 4px 6px 0px rgba(10, 50, 49, 0.25);
    /* Белый */
    background: var(--white-color);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 128px;
    height: 100%;
  }

  &__wrapper {
    border: 1px solid var(--turquoise-color);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
    max-width: 100%;
  }

  &__item-text {
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 0;
  }

  &__title {
    text-align: center;
  }
}

.brand-tab-list {
  &__head {
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  &__btn {
    box-shadow: -2px -2px 4px 0px rgba(10, 50, 49, 0.15),
      4px 4px 6px 0px rgba(10, 50, 49, 0.25);
    background: var(--white-color);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    min-width: 40px;

    &.active {
      background: rgb(197, 223, 223);
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .brand-list-small__item {
      width: 220px;
    }

    .brand-list-small__wrapper {
      padding: 20px 10px;
    }
  }

  &__btn-wrapper {
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--turquoise-color);
    width: 30px;
    height: 30px;
    min-width: 30px;
  }
}

@media (max-width: 991.98px) {
  .brand-list-big,
  .brand-list-small,
  .brand-list-middle {
    padding-bottom: 40px;
  }

  .brand-list-big .splide__track {
    overflow: visible;
  }

  .brand-list-small .splide__track {
    overflow: visible;
  }

  .brand-list-middle .splide__track {
    overflow: visible;
  }

  .brand-list-small__title {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
  }

  .brand-list-middle__item-text {
    font-size: 20px;
    line-height: 140%;
  }
}

@media (max-width: 767.98px) {
  .brand-tab-list__items .brand-list-small__item {
    width: calc(50% - 10px);
  }

  .brand-tab-list__head {
    gap: 12px;
  }
}

@media (max-width: 575.98px) {
  .brand-list-big__item {
    width: 260px;
    height: 226px;
  }

  .brand-list-small__item {
    width: 260px;
    height: 76px;
  }

  .brand-list-middle__item {
    width: 260px;
    min-height: 135px;
  }
}
