.element-shape-list {
  margin-left: -10px;
  margin-right: -10px;

  .splide__track {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .splide__slide:last-child {
    margin-right: 0 !important;
  }

  .splide__slide {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .splide__arrow:disabled {
    opacity: 0;
    z-index: -100;
  }

  &__item {
    box-shadow: -2px -2px 4px 0px rgba(10, 50, 49, 0.15),
      4px 4px 6px 0px rgba(10, 50, 49, 0.25);
    background: var(--white-color);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 270px;
  }

  &__item-wrapper {
    border: 1px solid var(--grey-2-color);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    gap: 15px;
    height: 100%;
  }

  &__item-col {
    display: flex;
    flex-direction: column;
    min-width: 140px;
  }

  &__item-desc {
    display: flex;
    flex-direction: column;
  }

  &__item-title {
    display: block;
    margin-bottom: 23px;
  }

  &__item-text {
    margin-bottom: 0;
  }

  &__item-img {
    img {
      max-width: 100%;
      object-fit: contain;
    }
  }
}

@media (max-width: 991.98px) {
  .element-shape-list {
    padding-bottom: 30px;
  }

  .element-shape-list__item {
    max-width: 260px;
    min-height: 180px;
  }

  .element-shape-list__item-text {
    font-size: 10px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .element-shape-list__item-img img,
  .element-shape-list__item-col {
    min-width: 80px;
    width: 80px;
  }

  .element-shape-list__item-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 1%;
    margin-bottom: 10px;
  }

  .element-shape-list__item-wrapper {
    padding: 10px;
  }
}
