header.header .header--mob {
  display: none;
}

.header {
  &__list {
    background: var(--grey-1-color);
    padding: 16px 0 20px;
  }

  &__button {
    background: initial !important;
  }

  &__top {
    padding-top: 5px;
    padding-bottom: 5px;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
      linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
      var(--black-color);
  }

  &__top-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 0;
    margin-right: 15px;
  }

  &__menu-item {
    position: relative;

    &.active::before {
      content: '';
      position: absolute;
      width: 100%;
      margin-bottom: 4px;
      border-bottom: 2px solid var(--primary-color);
      bottom: -6px;
      left: 0;
    }

    a {
      color: var(--white-color);
      font-family: 'Hind Madurai', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 16.8px */

      &:hover {
        text-decoration: none;
        color: var(--primary-hover-color);
      }
    }

    &.active {
      a {
        color: var(--primary-color);
      }
    }
  }

  &__list-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
  }

  &__list-link {
    color: var(--black-color);
    font-family: 'Lora', serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 14px */
    text-transform: uppercase;
    position: relative;
    text-align: center;

    &::before {
      content: '';
      position: absolute;
      opacity: 0;
      bottom: -5px;
      left: 0;
      border-bottom: 2px solid var(--black-color);
      display: block;
      width: 100%;
      transition: opacity 0.3s;
    }

    &:hover {
      text-decoration: none;
      color: var(--black-color);

      &::before {
        transition: 0.3s;
        opacity: 1;
      }
    }
  }

  &__top-iconGroup {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin-right: 6px;
    gap: 15px;
  }

  &__top-icon {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 3px 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid var(--primary-color);

    &:hover {
      box-shadow: 2px 2px 8px 0px rgba(232, 190, 56, 0.5),
        -2px -2px 8px 0px rgba(232, 190, 56, 0.5);
    }
  }

  &__top-block {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__top-phoneGroup {
    display: flex;
    align-items: center;
    gap: 15px;

    a {
      color: var(--white-color);
      font-family: 'Lora', serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 110%; /* 19.8px */
      letter-spacing: 0.36px;
    }
  }

  &__middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 7px;
    padding-bottom: 6px;
  }

  &__info-banner {
    border-radius: 5px;
    border: 1px solid var(--red-color);
    display: flex;
    padding: 5px 10px;
    flex-direction: column;
    align-items: flex-start;
    max-width: 356px;
    width: 100%;

    p {
      margin-bottom: 0;
      color: var(--black-color);
      font-family: 'Hind Madurai', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 16.8px */
    }
  }

  &__info-banner-title {
    color: var(--red-color);
    font-family: 'Hind Madurai', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 16px */
    text-transform: uppercase;
    display: block;
    margin-bottom: 3px;
  }

  &__media {
    display: flex;
    align-items: center;
    gap: 60px;
  }

  &__mediaBlock {
    display: flex;
    min-height: 66px;
    height: 100%;
    align-items: center;
  }

  &__media-icon {
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    width: 40px;
    min-width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }

  &__mediaBlock-body {
    display: flex;
    flex-direction: column;

    p {
      color: var(--black-color);
      font-family: 'Hind Madurai', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 16.8px */
      margin-bottom: 0;
    }
  }

  &__mediaBlock-title {
    color: var(--secondary-color);
    font-family: 'Lora', serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 12px */
    letter-spacing: 0.2px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 3px;
  }

  &__logo {
    margin-right: 15px;
  }

  &__mb {
    position: fixed;
    bottom: -65px;
    left: 0;
    right: 0;
    z-index: 100000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0 10px;
    transition: 0.3s;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
      linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
      var(--black-color);

    &.partial {
      bottom: 0;
      transition: 0.3s;
    }
  }

  &__mb-line {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7px;
  }

  &__mb-tp {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
      linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
      var(--black-color);
    z-index: 100000;

    &.hidden {
      top: -60px;
      transition: 0.3s;
    }

    &.open {
      top: 0;
      height: 100%;
      overflow-y: scroll;
    }
  }

  &__mb-btnGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__mb-topBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
  }

  &__burger-top {
    .header-burger-icon {
      display: none;
    }

    .header-burger-close-icon {
      display: block;
    }

    &.collapsed {
      .header-burger-icon {
        display: block;
      }

      .header-burger-close-icon {
        display: none;
      }
    }
  }

  &__mb-topBlock-icon {
    max-width: 171px;
    height: 40px;
  }

  &__mb-content {
    .card {
      background: initial;
      padding: 10px 0;
    }
  }

  &__mb-priceList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 10px;

    a {
      color: var(--white-color);
      font-family: 'Lora', serif;
      font-size: 10px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%; /* 12px */
      letter-spacing: 0.2px;
      text-transform: uppercase;

      &:hover {
        text-decoration: none;
        color: var(--primary-hover-color);
      }

      &.active {
        color: var(--primary-color);
      }
    }
  }

  &__mb-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: initial;
  }

  &__mb-btn &__mb-btn-arrow-white {
    display: inline-block;
    position: relative;
    bottom: -3px;
  }

  &__mb-btn &__mb-btn-arrow-gold {
    display: none;
    position: relative;
    bottom: -3px;
  }

  &__mb-btn:not(.collapsed) &__mb-btn-arrow-white {
    display: none;
  }

  &__mb-btn:not(.collapsed) &__mb-btn-arrow-gold {
    display: inline-block;
  }

  &__mb-btn:not(.collapsed) &__mb-btn-text {
    color: var(--primary-color);
  }

  &__mb-btn:not(.collapsed) &__mb-btn-icon {
    border-color: var(--primary-color);
  }

  &__mb-btn.collapsed &__mb-btn-icon-gold {
    display: none;
  }

  &__mb-btn.collapsed &__mb-btn-icon-white {
    display: block;
  }

  &__mb-btn:not(.collapsed) &__mb-btn-icon-gold {
    display: block;
  }

  &__mb-btn:not(.collapsed) &__mb-btn-icon-white {
    display: none;
  }

  &__mb-btn-icon {
    border-radius: 5px;
    border: 1px solid var(--white-color);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;
    overflow: hidden;
  }

  &__mb-btn-text {
    color: var(--white-color);
    font-family: 'Lora', serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 12px */
    letter-spacing: 0.2px;
    text-transform: uppercase;
  }

  &__mb-btn-burger span {
    color: var(--white-color) !important;
  }
  &__mb-btn-burger &__mb-btn-icon {
    border-color: var(--white-color) !important;
  }

  &__mb-btn-burger &__mb-btn-icon-white {
    display: block !important;
  }

  @media (max-width: 1199.98px) {
    &__top-iconGroup {
      display: none;
    }

    &__menu {
      gap: 20px;
    }
  }

  @media (max-width: 991.98px) {
    &__dt {
      display: none;
    }

    &__mb {
      display: flex;
    }
  }
}

.header__mb.partial {
  .header__mb-line {
    transform: rotate(180deg);
  }
}

.header__mb-content {
  width: 100%;
}

.main-wrapper.wrapper:not(.hidden) {
  .header__mb {
    bottom: -100%;
  }
}

.main-scrolled-up:not(.main-scrolled) {
  .header__mb .collapse.show {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease;
  }
}

.header-mb {
  &__card {
    background: initial;
    padding: 0;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__menu1 {
    display: flex;
    align-items: center;
    gap: 27px;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  &__menu1-link {
    position: relative;
    color: var(--white-color);

    &:hover {
      text-decoration: none;
      color: var(--primary-hover-color);
    }

    &.active {
      color: var(--primary-color);
    }

    &.active::before {
      content: '';
      position: absolute;
      width: 100%;
      margin-bottom: 4px;
      border-bottom: 2px solid var(--primary-color);
      bottom: -8px;
      left: 0;
    }
  }

  &__menu2 {
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    padding: 12px 10px;
    gap: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 12px;
  }

  &__menu2-link {
    font-family: 'Lora', serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 14px */
    text-transform: uppercase;
    color: var(--white-color);

    &:hover {
      text-decoration: none;
      color: var(--primary-hover-color);
    }

    &.active {
      color: var(--primary-color);
    }
  }

  &__address {
    display: flex;
    width: 100%;
  }

  &__address-icon {
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    position: relative;
    bottom: -6px;
  }

  &__address-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__address-body-t1 {
    margin-bottom: 0;
    i {
      position: relative;
      bottom: -2px;
    }
  }

  &__address-body-t1-s1 {
    color: var(--primary-color);
    font-family: 'Hind Madurai', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 16.8px */
  }

  &__address-body-t1-s2 {
    color: var(--white-color);
    font-family: 'Lora', serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 12px */
    letter-spacing: 0.24px;
  }

  &__address-body-t2 {
    color: var(--white-color);
    font-family: 'Hind Madurai', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
  }

  &__way {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    margin-bottom: 13px;
  }

  &__way-item {
    display: flex;
    width: calc(50% - 7px);

    a {
      color: var(--blue-1-color);
      font-family: 'Hind Madurai', sans-serif;
      font-size: 10px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%; /* 12px */
      text-decoration-line: underline;
      text-transform: lowercase;
    }
  }

  &__way-icon {
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    width: 25px;
    min-width: 25px;
    height: 25px;

    i {
      width: 15px;
      height: 15px;
    }
  }

  &__phons {
    display: flex;
    gap: 15px;
    margin-bottom: 12px;
  }

  &__phons-link {
    color: var(--blue-3-color);
    font-family: 'Hind Madurai', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 16px */
    text-transform: uppercase;
  }

  &__footer {
    display: flex;
    margin-bottom: 7px;
  }

  &__footer-icons {
    display: flex;
    gap: 25px;
    margin-right: 10px;
  }

  &__footer-iconWrapper {
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
  }

  &__footer-text {
    color: var(--white-color);
    font-family: 'Hind Madurai', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
    margin-bottom: 0;
  }

  &__btn {
    width: 100%;
  }
}

.header__info-banner-colorText {
  color: var(--turquoise-color);
  font-family: 'Lora', serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 12px */
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

.mob-announcement {
  display: none;
}

@media (max-width: 1199.98px) {
  .header__media {
    gap: 20px;
    align-items: flex-start;
  }

  .header__media-icon {
    display: none;
  }
}

@media (max-width: 991.98px) {
  header.header .header--mob {
    display: flex;
  }

  .mob-announcement {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    z-index: 1;
  }

  .header__media {
    box-shadow: -2px -2px 4px 0px rgba(10, 50, 49, 0.15),
      4px 4px 6px 0px rgba(10, 50, 49, 0.25);
    padding: 10px;
  }

  .header__info-banner {
    max-width: 100%;
  }
}

@media (max-width: 767.98px) {
  .header__info-banner {
    p {
      font-size: 10px;
      line-height: 100%;
    }
  }

  .header__info-banner-colorText {
    font-size: 10px;
  }
}
