.hero-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: linear-gradient(
    90deg,
    #fff 71.91%,
    rgba(255, 255, 255, 0) 99.87%
  );
  padding: 20px;
  margin: -20px;

  &--bg1 {
    background: radial-gradient(
      248.04% 87.54% at 31.57% 60%,
      rgba(255, 255, 255, 0.9) 72.52%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  &--bg2 {
    background: linear-gradient(90deg, #fff 60%, rgba(255, 255, 255, 0) 99.87%);
  }

  &--bg3 {
    background: linear-gradient(
      89deg,
      #fff 85.6%,
      rgba(255, 255, 255, 0) 114.22%
    );
  }

  &__title.h1 {
    margin-bottom: 25px;
  }

  &__title.h2 {
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 20px;
  }
}

@media (max-width: 1199.98px) {
  .hero-block {
    background: linear-gradient(90deg, #fff 80%, rgba(255, 255, 255, 0) 100%);

    &__text {
      max-width: 80%;
    }
  }

  .section-block--hero-n-img .hero-block {
    &__text {
      max-width: 100%;
    }
  }

  .hero-block--bg2 {
    background: linear-gradient(90deg, #fff 60%, rgba(255, 255, 255, 0) 99.87%);
  }
}

@media (max-width: 767.98px) {
  .hero-block {
    background: linear-gradient(90deg, #fff 40%, rgba(255, 255, 255, 0) 99.87%);
    &__title.h1,
    &__title.h2,
    &__title {
      margin-bottom: 10px;
    }

    &__text {
      font-size: 16px;
    }
  }
}
