.hero-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: linear-gradient(
    90deg,
    #fff 71.91%,
    rgba(255, 255, 255, 0) 99.87%
  );
  padding: 20px;
  margin: -20px;

  &__title.h1 {
    margin-bottom: 25px;
  }

  &__title.h2 {
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 20px;
  }
}

@media (max-width: 1199.98px) {
  .hero-block {
    background: linear-gradient(90deg, #fff 80%, rgba(255, 255, 255, 0) 100%);

    &__text {
      max-width: 80%;
    }
  }

  .section-block--hero-n-img .hero-block {
    &__text {
      max-width: 100%;
    }
  }
}

@media (max-width: 767.98px) {
  .hero-block {
    background: linear-gradient(90deg, #fff 40%, rgba(255, 255, 255, 0) 99.87%);
    &__title.h1,
    &__title.h2,
    &__title {
      margin-bottom: 10px;
    }

    &__text {
      font-size: 16px;
    }
  }
}
