.review {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5px;
  padding: 20px;
  height: 100%;
  background: var(--yellow-2-color);
  box-shadow: -2px -2px 4px 0px rgba(10, 50, 49, 0.15),
    4px 4px 6px 0px rgba(10, 50, 49, 0.25);

  &__title {
    display: block;
    margin-bottom: 5px;
  }

  &__rating {
    margin-bottom: 5px;
  }

  &__time {
    margin-bottom: 16px;
  }

  &__desc {
    margin-bottom: 0;
  }
}

.review-group {
  margin-top: 30px;
  margin-left: -10px;
  margin-right: -10px;

  .splide__track {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .splide__slide {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .splide__pagination {
    bottom: -30px;
  }
}

.star-group {
  display: flex;
  align-items: center;
}

.section--review {
  &__head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
  }

  &__title {
    margin-bottom: 15px;
  }

  &__btn {
    color: var(--color-black);
    margin-top: auto;
    box-shadow: 2px 2px 8px 0px rgba(232, 190, 56, 0.5),
      -2px -2px 8px 0px rgba(232, 190, 56, 0.5);
  }

  &__btn-mob {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .review {
    width: 260px;
  }

  .review-group {
    margin-bottom: 30px;
    .splide__track {
      overflow: visible;
    }
  }
}

@media (max-width: 767.98px) {
  .section--review {
    &__btn-dt {
      display: none;
    }

    &__btn-mob {
      display: flex;
      margin-top: 15px;
    }
  }

  .section--review__title {
    margin-bottom: 15px;
  }

  .review-group {
    .swiper-pagination {
      display: block;
    }
  }
}
