.section-block {
  $this: &;

  &--1 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &--2 {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &--3 {
    &__wrapper {
      display: flex;
      align-content: flex-start;
      justify-content: space-between;
      gap: 20px;
      flex-wrap: wrap;
    }
  }

  &--4 {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;

    #{$this}__wrapper {
      border: 1px solid var(--white-color);
      padding-top: 50px;
      padding-bottom: 50px;
      max-width: calc(1540px + 100px);
      width: 100%;
    }

    #{$this}__desc {
      font-size: 24px;
      font-weight: 500;
      line-height: 120%;
    }
  }

  &--hero {
    position: relative;
    overflow: hidden;

    .container {
      position: relative;
    }
  }

  &--hero-img1 {
    position: absolute;
    right: -400px;
    top: -330px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    width: 1490px;
    height: 896px;
    z-index: -1;
  }

  &--hero-img2 {
    position: absolute;
    right: -100px;
    top: -50px;
    object-fit: cover;
    width: 1005px;
    height: 552px;
    z-index: -1;
  }
}

.swiper {
  padding-left: 5px;
  padding-right: 15px;
  width: calc(100% + 15px);
}

.swiper-slide {
  height: auto;
}

.section--inf-ab-serv {
  padding-top: 80px;

  &__title {
    margin-bottom: 40px;
  }
}

.section--calculator {
  img {
    height: 100%;
    object-fit: cover;
  }
}

.section-block--hero-rb1 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.section--ty {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section--60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (max-width: 1400px) {
  .section-block--4 {
    padding: 30px 10px;
  }
}

@media (max-width: 1199.98px) {
  .section--calculator {
    img {
      padding-bottom: 10px;
    }
  }

  .section-block--hero-rb1 {
    align-items: center;
    justify-content: center;
    margin-top: 25px;
  }
}

@media (max-width: 991.98px) {
  .section {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .section--ty {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .section--80 {
    padding: 30px 0;
  }

  .section--inf-ab-serv {
    padding: 30px 0;
  }
}

@media (max-width: 767.98px) {
  .section-block--4 {
    padding: 10px 10px 20px;

    .h2 {
      line-height: 140%;
    }
  }

  .section-block--hero-img2 {
    width: 320px;
    height: 138px;
    top: -40px;
    right: 0;
  }

  .section-block--hero-img1 {
    position: absolute;
    right: 0;
    top: -25px;
    object-fit: cover;
    width: 320px;
    height: 138px;
    z-index: -1;
  }

  .section-block--4 .section-block__wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .section-block--4 .section-block__desc {
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 10px;
  }

  .section-block--hero::before {
    left: 50%;
    right: auto;
    transform: translate(-50%, 0);
    max-width: 100%;
    top: -20%;
  }

  .section-block--2__desc {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }

  .section--inf-ab-serv__title {
    margin-bottom: 25px;
  }

  .mb-40 {
    margin-bottom: 25px;
  }
}
