<div class="d-flex gap-x-20 min-w-325">
  <div class="d-flex flex-column">
    <p class="text-11 mb-2">Оценка за 15 минут. <br>Любой способ оплаты.</p>
    <a class='btn button button--@@color' href='@@url'>@@title <span class='button__icon @@arrow'></span></a>
  </div>
  <i class="link-right-img-1 ml-4 mt-auto"></i>
</div>


<!--<div class="review-rating-block__wrapper">-->
<!--		<span class="review-rating-block__title">МосГосСкупка</span>-->
<!--		<p class="review-rating-block__subtitle">Скупка золота и ювелирных изделий</p>-->
<!--		<div class="review-banner__body">-->
<!--			<div class="mb-3 review-banner__row">-->
<!--				<div class="mr-3 review-banner__rating">-->
<!--					<span class="review-banner__rating-num">5,0</span>-->
<!--				</div>-->
<!--				<div class="star-group">-->
<!--					<div class="star-group__item">-->
<!--						<i class="star-icon"></i>-->
<!--					</div>-->
<!--					<div class="star-group__item">-->
<!--						<i class="star-icon"></i>-->
<!--					</div>-->
<!--					<div class="star-group__item">-->
<!--						<i class="star-icon"></i>-->
<!--					</div>-->
<!--					<div class="star-group__item">-->
<!--						<i class="star-icon"></i>-->
<!--					</div>-->
<!--					<div class="star-group__item">-->
<!--						<i class="star-icon"></i>-->
<!--					</div>-->
<!--				</div>-->
<!--				<span class="text-7 review-banner__t1">97 отзывов</span>-->
<!--			</div>-->
<!--			<div class="review-rating-block__list">-->
<!--				<div class="review-banner__row-new review-rating-block__elem">-->
<!--					<div class="review-rating-block__elem-i1">-->
<!--						<span class="review-rating-block__elem-name">Расположение</span>-->
<!--						<span class="review-rating-block__elem-percent">-->
<!--							<i class="like-green-icon"></i>-->
<!--							100%-->
<!--						</span>-->
<!--					</div>-->
<!--					<span class="review-rating-block__elem-i2">20 отзывов</span>-->
<!--				</div>-->
<!--				<div class="review-banner__row-new review-rating-block__elem">-->
<!--					<div class="review-rating-block__elem-i1">-->
<!--						<span class="review-rating-block__elem-name">Время ожидания</span>-->
<!--						<span class="review-rating-block__elem-percent">-->
<!--							<i class="like-green-icon"></i>-->
<!--							97%-->
<!--						</span>-->
<!--					</div>-->
<!--					<span class="review-rating-block__elem-i2">37 отзывов</span>-->
<!--				</div>-->
<!--				<div class="review-banner__row-new review-rating-block__elem">-->
<!--					<div class="review-rating-block__elem-i1">-->
<!--						<span class="review-rating-block__elem-name">Персонал</span>-->
<!--						<span class="review-rating-block__elem-percent">-->
<!--							<i class="like-green-icon"></i>-->
<!--							86%-->
<!--						</span>-->
<!--					</div>-->
<!--					<span class="review-rating-block__elem-i2">45 отзывов</span>-->
<!--				</div>-->
<!--<div class="review-banner__row-new review-rating-block__elem">
<!--					<div class="review-rating-block__elem-i1">-->
<!--						<span class="review-rating-block__elem-name">Обслуживание</span>-->
<!--						<span class="review-rating-block__elem-percent">-->
<!--							<i class="like-green-icon"></i>-->
<!--							88%-->
<!--						</span>-->
<!--					</div>-->
<!--					<span class="review-rating-block__elem-i2">34 отзывов</span>-->
<!--				</div>-->-->
<!--			</div>-->

<!--			<div class="review-banner__row mt-1 review-banner__row-2">-->
<!--				<p class="review-banner__t2 mr-auto">Проверены Яндексом</p>-->
<!--				<a rel="nofollow" class="ml-0 ml-md-3 review-banner__link" href="https://yandex.ru/maps/org/mosgosskupka/1299059896/reviews/?ll=37.610988%2C55.728778&z=13">Читать все отзывы</a>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
