<div class='purchasePrice'>
	<div class='purchasePrice__wrapper'>
		<div class="purchasePrice__header">
			<span class="h5 purchasePrice__title">Цена скупки</span>
			<a class='purchasePrice__bottomLink d-flex d-md-none' href="#">узнать все цены <i
					class='arrow-black ml-1'></i></a>
		</div>

		<div class='purchasePrice__body'>
			<nav class='purchasePrice__nav'>
				<div class="nav nav-tabs" id="nav-tab" role="tablist">
					<button class="purchasePrice__btn button button--gold active" id="nav-home-tab" data-toggle="tab"
						data-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true"><span
							class='gold-icon mr-auto calculator__icon purchasePrice__btn-icon'></span>золото</button>
					<button class="purchasePrice__btn button button--grey-outline" id="nav-profile-tab" data-toggle="tab"
						data-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"><span
							class='silver-icon mr-5 calculator__icon purchasePrice__btn-icon'></span>серебро</button>
				</div>
			</nav>
			<div class="tab-content purchasePrice__content" id="nav-tabContent">
				<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
					<div class='purchasePrice__list'>
						<div class='purchasePrice__block'>
							<p class='purchasePrice__block-t1'>585 проба</p>
							<span class='purchasePrice__block-t2'>3200 ₽</span>
							<p class='purchasePrice__block-t3'>за 1 грамм</p>
						</div>
						<div class='purchasePrice__block'>
							<p class='purchasePrice__block-t1'>750 проба</p>
							<span class='purchasePrice__block-t2'>4200 ₽</span>
							<p class='purchasePrice__block-t3'>за 1 грамм</p>
						</div>
						<div class='purchasePrice__block'>
							<p class='purchasePrice__block-t1'>999 проба</p>
							<span class='purchasePrice__block-t2'>5100 ₽</span>
							<p class='purchasePrice__block-t3'>за 1 грамм</p>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
					<div class='purchasePrice__list'>
						<div class='purchasePrice__block'>
							<p class='purchasePrice__block-t1'>875 проба</p>
							<span class='purchasePrice__block-t2'>30 ₽</span>
							<p class='purchasePrice__block-t3'>за 1 грамм</p>
						</div>
						<div class='purchasePrice__block'>
							<p class='purchasePrice__block-t1'>925 проба</p>
							<span class='purchasePrice__block-t2'>350 ₽</span>
							<p class='purchasePrice__block-t3'>за 1 грамм</p>
						</div>
						<div class='purchasePrice__block'>
							<p class='purchasePrice__block-t1'>999 проба</p>
							<span class='purchasePrice__block-t2'>45 ₽</span>
							<p class='purchasePrice__block-t3'>за 1 грамм</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<a class='purchasePrice__bottomLink d-none d-md-flex' href="#">узнать все цены <i class='arrow-black ml-1'></i></a>
	</div>
</div>