<div class='requisites-block'>
	<div class="requisites-block__wrapper">
		<div class="requisites-block__head">
			<span class='requisites-block__title h2'>Реквизиты</span>
			<img class='requisites-block__logo' src="images/main-logo.svg" alt="">
		</div>
		<div class="requisites-block__body">
			<div class="requisites-block__row">
				<span>Юридический адрес:</span>
				<p class='text-4'>101000, Москва г, Мясницкая ул, дом № 17, строение 2, помещение 11</p>
			</div>
			<div class="requisites-block__row">
				<span>Фактический адрес:</span>
				<p class='text-4'>119049, г. Москва, Ленинский пр-т, д. 2А, офис 915</p>
			</div>
			<div class="requisites-block__row50">
				<div class="requisites-block__row">
					<span>ИНН:</span>
					<p class='text-4'>9706009731</p>
				</div>
				<div class="requisites-block__row">
					<span>ОГРН:</span>
					<p class='text-4'>1207700395605</p>
				</div>
			</div>
			<div class="requisites-block__row">
				<span>Генеральный директор:</span>
				<p class='text-4'>Бумажников Никита Юрьевич</p>
			</div>
		</div>
	</div>
</div>