<div class='review-banner'>
	<div class='review-banner__wrapper'>
		<span class='review-banner__logo main-icon'></span>
		<div class='review-banner__body'>
			<div class='review-banner__row'>
				<div class='review-banner__rating mr-3'>
					<span class='review-banner__rating-num'>4,7</span>
				</div>
				<div class='star-group'>
					<div class='star-group__item'>
						<i class='star-icon'></i>
					</div>
					<div class='star-group__item'>
						<i class='star-icon'></i>
					</div>
					<div class='star-group__item'>
						<i class='star-icon'></i>
					</div>
					<div class='star-group__item'>
						<i class='star-icon'></i>
					</div>
					<div class='star-group__item'>
						<i class='star-icon'></i>
					</div>
				</div>
				<span class='review-banner__t1 text-7'>39 отзывов</span>
			</div>
			<div class='review-banner__row review-banner__row-2 mt-3'>
				<p class='review-banner__t2'>Проверены Яндексом</p>
				<a class='review-banner__link ml-0 ml-md-3' href="#">Читать все отзывы
					<i class='ml-2 arrow-black'></i>
					<i class='ml-2 arrow-gold'></i>
				</a>
			</div>
		</div>
	</div>
</div>