// Заголовки, общие БЄМ блоки и проче...
.section {
  $this: &;
  padding: 40px 0;

  &--30 {
    padding: 30px 0;
  }

  &--80 {
    padding: 80px 0;
  }

  &--grey-1 {
    background: var(--grey-1-color);
  }

  &--blue-2 {
    background: var(--blue-2-color);
  }
}

.h1 {
  color: var(--dark-green-color);
  font-family: 'Lora', serif;
  font-size: 68px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 74.8px */
  text-transform: uppercase;
}

.h2 {
  color: var(--dark-green-color);
  font-family: 'Lora', serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 42px */
  text-transform: uppercase;
}

.h3 {
  color: var(--dark-green-color);
  font-family: 'Lora', serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 32px */
  letter-spacing: 0.32px;
}

.h4 {
  color: var(--dark-green-color);
  font-family: 'Lora', serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 33.6px */
  text-transform: uppercase;
}

.h4-2 {
  color: var(--dark-green-color);
  font-family: 'Lora', serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 33.6px */
  text-transform: uppercase;
}

.h5 {
  color: var(--dark-green-color);
  font-family: 'Lora', serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 24px */
  letter-spacing: 0.24px;
}

.h1-min {
  color: var(--dark-green-color);
  font-family: 'Lora', serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 24px */
  letter-spacing: 0.4px;
}

.h2-min {
  color: var(--dark-green-color);
  font-family: 'Hind Madurai', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 16px */
  text-transform: uppercase;
}

.h3-min {
  color: var(--dark-green-color);
  font-family: 'Hind Madurai', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 28.8px */
}

.h4-min {
  color: var(--dark-green-color);
  font-family: 'Lora', serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 19.8px */
  letter-spacing: 0.36px;
}

.h5-min {
  color: var(--dark-green-color);
  font-family: 'Lora', serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 32px */
  letter-spacing: 0.32px;
}

.text-1 {
  color: var(--dark-green-color);
  font-family: 'Hind Madurai', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}

.text-2 {
  color: var(--dark-green-color);
  font-family: 'Lora', serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 16px */
  letter-spacing: 0.32px;
}

.text-3 {
  color: var(--dark-green-color);
  font-family: 'Lora', serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 12px */
  letter-spacing: 0.24px;
}

.text-4 {
  color: var(--dark-green-color);
  font-family: 'Hind Madurai', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
}

.text-5 {
  color: var(--dark-green-color);
  font-family: 'Hind Madurai', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}

.text-6 {
  color: var(--dark-green-color);
  font-family: 'Lora', serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 12px */
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

.text-7 {
  color: var(--dark-green-color);
  font-family: 'Hind Madurai', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 12px */
}

.text-8 {
  color: var(--dark-green-color);
  font-family: 'Hind Madurai', sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 10px */
}

.link-1 {
  color: var(--dark-green-color);
  font-family: 'Hind Madurai', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 16.8px */
  text-decoration-line: underline;
  text-transform: lowercase;
}

.link-2 {
  color: var(--dark-green-color);
  font-family: 'Hind Madurai', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 14.4px */
  text-decoration-line: underline;
  text-transform: lowercase;
}

.link-3 {
  color: var(--dark-green-color);
  font-family: 'Lora', serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
  letter-spacing: 0.36px;
  text-decoration-line: underline;
}

.row--r20 {
  row-gap: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.color-danger {
  color: var(--red-color);
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100) */

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.gold-block-wrapper {
  border-radius: 5px;
  background: var(--yellow-2-color);
  box-shadow: -2px -2px 4px 0px rgba(10, 50, 49, 0.15),
    4px 4px 6px 0px rgba(10, 50, 49, 0.25);
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.box-shadow {
  border-radius: 5px;
  background: lightgray;
  box-shadow: -2px -2px 4px 0px rgba(10, 50, 49, 0.15),
    4px 4px 6px 0px rgba(10, 50, 49, 0.25);
  overflow: hidden;

  img {
    object-fit: cover;
  }
}

.shadow-text {
  &__title {
    color: var(--black-color);
    font-family: 'Lora', serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 32px */
    letter-spacing: 0.32px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    display: block;
  }

  &__p {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  }
}

.invalid-feedback {
  font-family: 'Hind Madurai', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 12px */
  color: var(--red-color);
  margin-top: 3px;
}

.contacts-title {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  &__icon {
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid var(--2, #e8be38);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    min-width: 40px;
    height: 40px;
  }

  &__name {
    color: var(--black-color);
    font-family: 'Lora', serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 32px */
    letter-spacing: 0.32px;
    margin-bottom: 0;
  }
}

.block-requests {
  display: flex;
  flex-direction: column;

  &__clip {
    background: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    width: 40px;
    height: 40px;
    min-width: 40px;

    &:hover,
    &.active {
      background: var(--primary-hover-color);
    }
  }

  &__btnGroup {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 15px;
    margin-bottom: 5px;

    .button {
      // white-space: nowrap;
      padding: 5px;
    }
  }

  &__text-1 {
    margin-bottom: 15px;
  }

  &__fileList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;

    &:not(.show) {
      display: none;
    }
  }

  &__fileList-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__fileList-num {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20px;
    height: 20px;
    margin-right: 15px;

    border-radius: 5px;
    border: 1px solid var(--primary-color);
    background: var(--primary-hover-color);

    font-family: 'Hind Madurai', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
    color: var(--primary-color);
  }

  &__fileList-item-text-1 {
    color: var(--black-color);
    font-family: 'Hind Madurai';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 16.8px */
    text-decoration-line: underline;
    text-transform: lowercase;
    margin-bottom: 0;
    margin-right: 4px;
  }

  &__fileList-item-text-2 {
    color: var(--black-color);
    font-family: 'Hind Madurai';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  &__fileList-item-close {
    display: flex;
    align-items: center;
    background: initial;
    margin-left: 15px;

    span {
      margin-left: 5px;
      color: var(--secondary-color);
      font-family: 'Hind Madurai', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%; /* 16.8px */
      text-decoration-line: underline;
      text-transform: lowercase;
    }

    &:hover {
      text-decoration: none;
    }
  }
}

.swiper-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: var(--white-color);
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &::after {
    display: none;
  }

  &__wrapper {
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon-rt {
    transform: rotate(180deg);
  }
}

.download-files-modal {
  .modal-dialog {
    max-width: 310px;
  }

  &__wrapper {
    border: 1px solid var(--turquoise-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .modal-content {
    box-shadow: -2px -2px 4px 0px rgba(10, 50, 49, 0.15),
      4px 4px 6px 0px rgba(10, 50, 49, 0.25);
  }

  .modal-body {
    padding: 10px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
    gap: 20px;
  }

  &__elem {
    display: flex;
    align-items: flex-end;
    color: var(--black-color);
    font-family: 'Lora', serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 19.8px */
    letter-spacing: 0.36px;
    margin-bottom: 0;
    align-items: baseline;

    &:hover {
      text-decoration: none;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    width: 40px;
    min-width: 40px;
    height: 40px;
  }
}

.guarantees-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  &__title {
    margin-bottom: 11px;
  }

  &__subtitle {
    color: var(--black-color);
    font-family: 'Hind Madurai', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 21.6px */
  }
}

.contacts-scheme {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  &__item {
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__num {
    font-family: 'Lora', serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 80%; /* 64px */
    text-transform: uppercase;
    color: var(--grey-1-color);
    text-shadow: 1px 0 1px #e8be38, 0 1px 1px #e8be38, -1px 0 1px #e8be38,
      0 -1px 1px #e8be38;
    min-width: 45px;
  }

  &__text {
    margin-bottom: 0;
    color: var(--black-color);
    font-family: 'Hind Madurai', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 21.6px */
  }

  &__info {
    background: var(--white-color);
    box-shadow: -2px -2px 4px 0px rgba(10, 50, 49, 0.15),
      4px 4px 6px 0px rgba(10, 50, 49, 0.25);
    padding: 10px;
  }

  &__info-wrapper {
    border: 1px solid var(--red-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  &__info-head {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
    flex-wrap: wrap;

    span {
      color: var(--black-color);
      font-family: 'Lora', serif;
      font-size: 42px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%; /* 42px */
      text-transform: uppercase;
    }
  }

  &__info-text {
    color: var(--black-color);
    font-family: 'Lora', serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 19.8px */
    letter-spacing: 0.36px;
  }

  &__map {
    width: 100%;
    background: #d3d3d3;
    box-shadow: -2px -2px 4px 0px rgba(10, 50, 49, 0.15),
      4px 4px 6px 0px rgba(10, 50, 49, 0.25);
  }

  &__map-img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
  }
}

@media (max-width: 1500px) {
  .gold-block-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1440px) {
  .contacts-scheme__map {
    height: 100%;
  }
}

@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
  .shadow-text {
    &__title {
      margin-bottom: 15px;
      font-size: 24px;
      font-weight: 600;
      line-height: 100%; /* 24px */
      letter-spacing: 0.24px;
    }
  }

  .video-container {
    margin-bottom: 20px;
  }
}

@media (max-width: 767.98px) {
  .contacts-scheme__info-head {
    i {
      width: 60px;
      min-width: 60px;
      height: 60px;
    }

    span {
      font-size: 28px;
      font-weight: 400;
      line-height: 140%; /* 39.2px */
    }
  }

  .contacts-scheme__info-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
  }

  .contacts-scheme__list {
    gap: 0;
    margin-bottom: 10px;
  }

  .contacts-title {
    &__name {
      font-size: 24px;
      font-weight: 600;
      line-height: 100%; /* 24px */
      letter-spacing: 0.24px;
    }
  }

  .guarantees-block {
    margin-bottom: 15px;

    &__subtitle {
      font-size: 16px;
      line-height: 120%;
    }
  }

  .h1 {
    font-size: 36px;
    line-height: 100%; /* 36px */
  }

  .h2 {
    font-size: 28px;
    line-height: 140%; /* 39.2px */
  }

  .block-requests__btnGroup {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
}

.splide__pagination {
  gap: 20px;

  .splide__pagination__page {
    width: 10px;
    height: 10px;
    background: var(--secondary-color);
    margin: 0;
  }

  .splide__pagination__page.is-active {
    transform: scale(1);
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
      linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
      var(--black-color);
  }
}

.splide__arrow {
  width: 60px;
  height: 60px;
  opacity: 1;

  &:hover:not(:disabled):hover {
    opacity: 1;
  }

  svg {
    display: none;
  }
}

.splide__arrow--prev {
  background: url(../images/slider-arrow-left.svg) no-repeat center;
  background-size: 100% auto;
  display: block;
  left: -35px;
}

.splide__arrow--next {
  background: url(../images/slider-arrow-right.svg) no-repeat center;
  background-size: 100% auto;
  display: block;
  right: -35px;
}
