.main-icon-white {
  background: url(../images/Main-logo-white.svg) no-repeat center;
  background-size: 100% auto;
  width: 285px;
  height: 79px;
  display: block;
}

.main-icon {
  background: url(../images/main-logo.svg) no-repeat center;
  background-size: 100% auto;
  width: 285px;
  height: 79px;
  display: block;
}

.certificate-icon {
  background: url(../images/certificate.svg) no-repeat center;
  background-size: 100% auto;
  width: 30px;
  height: 30px;
  display: block;
}

.clock-icon {
  background: url(../images/clock.svg) no-repeat center;
  background-size: 100% auto;
  width: 30px;
  height: 30px;
  display: block;
}

.coins-icon {
  background: url(../images/coins.svg) no-repeat center;
  background-size: 100% auto;
  width: 50px;
  height: 50px;
  display: block;
}

.dollar-icon {
  background: url(../images/dollar.svg) no-repeat center;
  background-size: 100% auto;
  width: 50px;
  height: 50px;
  display: block;
}

.eu-icon {
  background: url(../images/eu.svg) no-repeat center;
  background-size: 100% auto;
  width: 50px;
  height: 50px;
  display: block;
}

.experiment-icon {
  background: url(../images/Experiment.svg) no-repeat center;
  background-size: 100% auto;
  width: 30px;
  height: 30px;
  display: block;
}

.file-icon {
  background: url(../images/file.svg) no-repeat center;
  background-size: 100% auto;
  width: 24px;
  height: 30px;
  display: block;
}

.gold-small-icon {
  background: url(../images/gold-small.svg) no-repeat center;
  background-size: 100% auto;
  width: 25px;
  height: 23px;
  display: block;
}

.burger-white {
  background: url(../images/burger-white.svg) no-repeat center;
  background-size: 100% auto;
  width: 30px;
  height: 30px;
  display: block;
}

.gold-icon {
  background: url(../images/gold.svg) no-repeat center;
  background-size: 100% auto;
  width: 50px;
  height: 50px;
  display: block;
}

.location-icon {
  background: url(../images/Location.svg) no-repeat center;
  background-size: 100% auto;
  width: 36px;
  height: 36px;
  display: block;
}

.location-white-icon {
  background: url(../images/Location-white-icon.svg) no-repeat center;
  background-size: 100% auto;
  width: 20px;
  height: 24px;
  display: block;
}

.location-gold-icon {
  background: url(../images/Location-gold-icon.svg) no-repeat center;
  background-size: 100% auto;
  width: 20px;
  height: 24px;
  display: block;
}

.male-graduate-icon {
  background: url(../images/Male-Graduate.svg) no-repeat center;
  background-size: 100% auto;
  width: 30px;
  height: 30px;
  display: block;
}

.map-gold-icon {
  background: url(../images/Map-gold.svg) no-repeat center;
  background-size: 100% auto;
  width: 30px;
  height: 30px;
  display: block;
}

.money-growth-icon {
  background: url(../images/money-growth.svg) no-repeat center;
  background-size: 100% auto;
  width: 50px;
  height: 50px;
  display: block;
}

.photo-icon {
  background: url(../images/photo.svg) no-repeat center;
  background-size: 100% auto;
  width: 32px;
  height: 26px;
  display: block;
}

.picture-icon {
  background: url(../images/picture.svg) no-repeat center;
  background-size: 100% auto;
  width: 28px;
  height: 28px;
  display: block;
}

.police-icon {
  background: url(../images/police.png) no-repeat center;
  background-size: 100% auto;
  width: 50px;
  height: 50px;
  display: block;
}

.rub-yellow-icon {
  background: url(../images/rub-yellow.svg) no-repeat center;
  background-size: 100% auto;
  width: 30px;
  height: 30px;
  display: block;
}

.silver-icon {
  background: url(../images/silver.svg) no-repeat center;
  background-size: 100% auto;
  width: 50px;
  height: 50px;
  display: block;
}

.star-icon {
  background: url(../images/Star.svg) no-repeat center;
  background-size: 100% auto;
  width: 20px;
  height: 19px;
  display: block;
}

.taxi-yellow-icon {
  background: url(../images/taxi-yellow.png) no-repeat center;
  background-size: 100% auto;
  width: 30px;
  height: 30px;
  display: block;
}

.tg-icon {
  background: url(../images/tg.svg) no-repeat center;
  background-size: 100% auto;
  width: 26px;
  height: 22px;
  display: block;
}

.time-icon {
  background: url(../images/time.png) no-repeat center;
  background-size: 100% auto;
  width: 50px;
  height: 50px;
  display: block;
}

.way-yellow-icon {
  background: url(../images/way-yellow.svg) no-repeat center;
  background-size: 100% auto;
  width: 30px;
  height: 30px;
  display: block;
}

.wp-icon {
  background: url(../images/wp.svg) no-repeat center;
  background-size: 100% auto;
  width: 26px;
  height: 26px;
  display: block;
}

.arrow-gold {
  background: url(../images/arrow-gold.svg) no-repeat center;
  background-size: 100% auto;
  width: 20px;
  height: 12px;
  display: block;
}

.arrow-black {
  background: url(../images/arrow-black.svg) no-repeat center;
  background-size: 100% auto;
  width: 20px;
  height: 12px;
  display: block;
}

.arrow-green {
  background: url(../images/arrow-green.svg) no-repeat center;
  background-size: 100% auto;
  width: 20px;
  height: 12px;
  display: block;
}

.green-phone {
  background: url(../images/green-phone.svg) no-repeat center;
  background-size: 100% auto;
  width: 25px;
  height: 25px;
  display: block;
}

.gold-icon-phone {
  background: url(../images/gold-icon-phone.svg) no-repeat center;
  background-size: 100% auto;
  width: 25px;
  height: 25px;
  display: block;
}

.gold-icon-tg {
  background: url(../images/gold-icon-tg.svg) no-repeat center;
  background-size: 100% auto;
  width: 25px;
  height: 20.66px;
  display: block;
}

.icon-plus {
  background: url(../images/icon-plus.svg) no-repeat center;
  background-size: 100% auto;
  width: 40px;
  height: 40px;
  display: block;
}

.icon-minus {
  background: url(../images/icon-minus.svg) no-repeat center;
  background-size: 100% auto;
  width: 40px;
  height: 40px;
  display: block;
}

.close-icon {
  background: url(../images/Close-icon.svg) no-repeat center;
  background-size: 100% auto;
  width: 20px;
  height: 20px;
  display: block;
}

.clip-icon {
  background: url(../images/clip-icon.svg) no-repeat center;
  background-size: 100% auto;
  width: 20px;
  height: 20px;
  display: block;
}

.clip-icon-black {
  background: url(../images/clip-icon-black.svg) no-repeat center;
  background-size: 100% auto;
  width: 20px;
  height: 20px;
  display: block;
}

.header-burger-icon {
  background: url(../images/burger.svg) no-repeat center;
  background-size: 100% auto;
  width: 40px;
  height: 40px;
  display: block;
}

.header-burger-close-icon {
  background: url(../images/burger-close.svg) no-repeat center;
  background-size: 100% auto;
  width: 40px;
  height: 40px;
  display: block;
}

.walking-human-icon {
  background: url(../images/Walking-human-icon.svg) no-repeat center;
  background-size: 100% auto;
  width: 15px;
  min-width: 15px;
  height: 15px;
  display: inline-block;
}

.walking-human-white-icon {
  background: url(../images/Walking-human-white-icon.svg) no-repeat center;
  background-size: 100% auto;
  width: 15px;
  min-width: 15px;
  height: 15px;
  display: inline-block;
}

.arrow-white {
  background: url(../images/arrow-white.svg) no-repeat center;
  background-size: 100% auto;
  width: 15px;
  min-width: 15px;
  height: 15px;
  display: inline-block;
}

.arrow-gold-top {
  background: url(../images/arrow-gold-top.svg) no-repeat center;
  background-size: 100% auto;
  width: 15px;
  min-width: 15px;
  height: 15px;
  display: inline-block;
}

.like-green-icon {
  background: url(../images/like-green.png) no-repeat center;
  background-size: 100% auto;
  width: 15px;
  min-width: 15px;
  max-width: 15px;
  height: 15px;
  display: flex;
}

.arrow-top {
  background: url(../images/arrow-top.svg) no-repeat center;
  background-size: 100% auto;
  width: 15px;
  min-width: 15px;
  height: 15px;
  display: inline-block;
}

.arrow-bottom {
  background: url(../images/arrow-bottom.svg) no-repeat center;
  background-size: 100% auto;
  width: 15px;
  min-width: 15px;
  height: 15px;
  display: inline-block;
}

.warning-sign-icon {
  background: url(../images/Warning-Sign.svg) no-repeat center;
  background-size: 100% auto;
  width: 120px;
  min-width: 120px;
  height: 120px;
  display: block;
}

.handshake-icon {
  background: url(../images/handshake.svg) no-repeat center;
  background-size: 100% auto;
  width: 50px;
  height: 50px;
  display: block;
}

.sale-box-icon {
  background: url(../images/sale-box.svg) no-repeat center;
  background-size: 100% auto;
  width: 50px;
  height: 50px;
  display: block;
}

.business-analytics-icon {
  background: url(../images/Business-Analytics.svg) no-repeat center;
  background-size: 100% auto;
  width: 50px;
  height: 50px;
  display: block;
}

.arrow-gold-bottom {
  background: url(../images/arrow-gold-bottom.svg) no-repeat center;
  background-size: contain;
  width: 30px;
  height: 30px;
  display: block;
}
